*{
    margin:0;
    padding:0;
}
body{
    background-color: #fdfcdf;
    color:#000
}
header{
    width:100%;
    height:130px;
    background-color: #a31a1e;
    float:left;

}
header div{
    float:left;
    width:35%;
}
#logo img{
    height: 150px;
    width:150px;
}
#titulo{
    padding-top:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
    font-size:30px;
}
nav{
    width:100%;
    height:40px;
    background-color: #7a1215;
    float:left;
    padding-top:15px;
    padding-bottom:15px;
}
nav ul{
    list-style:none;
    margin:5px;
}
nav ul li{
    display:inline;
}
nav ul li a{
    text-decoration:none;
    font-size:24px;
    margin-left:40px;
    color:#fff;
    padding:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li a:hover{
    background-color: #981516;
}
main{
    width:100%;
    float:left;
    margin-bottom:50px;
}
main div{
    width:80%;
    margin:0 auto;
}

.imagens{
    align-content:center;
    width:45%;
    float:left;
    border:1px solid #000;
    margin-top:45px;
    margin-left:30px;
    margin-right:30px;
}
.imagens img{
    width:100%;
}
footer{
    width:100%;
    float:left;
    background-color:#a31a1e;
    padding-top:30px;
    padding-bottom:30px;
}
footer p{
    text-align:center;
    color:#fff;
}